@import "custom";
@import "~bootstrap/scss/bootstrap";
@import "bootswatch";

html {
  font-size: 1rem;
}

@include media-breakpoint-up(sm) {
  html {
    font-size: 1.2rem;
  }
}

@include media-breakpoint-up(md) {
  html {
    font-size: 1.4rem;
  }
}

@include media-breakpoint-up(lg) {
  html {
    font-size: 1.6rem;
  }
}

.jumbotron {
  background-image: url("images/blue-switches.jpg");
}

blockquote.blockquote {
  border-left: 5px solid $text-muted;
  font-size: 0.9em;
  padding-left: 20px;
}

p > em {
  color: #08f9e1;
}
